
/* css stylesheet for 'login.html' */


html, body {
    margin: 0;
    padding: 0;
}

.intro-box{
    height: 100%;
    margin-bottom: 0;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.brand-name{
    float: left;
    margin-left: 16vw;
    margin-top: 15px;
    margin-right: 30vw;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.5em
}

.logo{
    height: 20px;
    width: 20px;
}

.card-box{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(0,0,0,0);
}

.card{
    background-color: white;
    box-shadow: 20px 20px 20px;
    border-radius: 25px;
}

.form-horizontal{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.uid-lab{
    font-family: 'Slabo 27px', serif;
    font-size: 1.2em;
}

.pass-lab{
    font-family: 'Slabo 27px', serif;
    font-size: 1.2em;
}

.uid-field{
    margin-left: 10px;
    border-radius: 25px;
    border-color: black;
    padding-left: 10px;
}

.pass-field{
    margin-left: 14px;
    border-radius: 25px;
    border-color: black;
    padding-left: 10px;
}

.login-btn{
    margin-left: 29%;
    margin-top: 20px;
    background-color: rgba(0,0,0,0);
    color: black;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Slabo 27px', serif;
    font-size: 1.2em;
}

.login-btn:hover{
    margin-left: 29%;
    margin-top: 20px;
    background-color: rgba(0,0,0,0.1);
    color: black;
    border-radius: 25px;
    border-color: black;
    border-width: 2px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Slabo 27px', serif;
    font-size: 1.2em;
}
